.navbar-light .navbar-toggler {
  border-color: none;
}
.navbar-toggler {
  margin-top: 5px;
}
.navbar-light .navbar-nav .nav-link {
  color: #000;
}
#hero {
  background-image: url(./images/cover.jpg);
  background-size: cover;
  background-position: center bottom;
  min-height: 600px;
  text-align: center;
}
#hero h2 {
  padding-top: 168px;
}
